/*resetar estruturas*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.parte1 {
  margin-top: 5px;
  max-width: 100%;
  height: 50px;
  background: red;
  text-align: center;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  display-direction: column;
  font-family: "Roboto", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  content-width: 100%;
  border: 1px solid;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background-color: feeb2d;
  padding: 5px;
  margin-left: 20px;
  color: black;
}

.colums {
  display: flex;
  display-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
}

.imagem {
  margin: 10px;
}

/* CSS específico para */
